{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ TITLE }}{% endblock title %}
{% block meta %}
        <meta name="keywords" content="{% for tag in article.tags %}{{ tag }}, {% endfor %}" />
        <meta name="description" content="{{ article.description }}" />
{% endblock meta %}

{% block content %}
						<!-- Content -->
							<article class="box post">
                            {% if article.picture is defined %}
                                <a href="{{ article.picturelink }}" target="_blank" class="image featured">
                                    <img src="{{ SITEURL }}/{{ article.picture }}"/>
                                    {{ article.picturecopyrights }}
                                </a>
                            {% endif %}
								<header>
									<h2>{{ article.title }}</h2>
                                    <p>{{ article.summary }}</p>
								</header>
                                {{ article.content }}
							</article>
                            <div align="center">
                                <ul class="actions">
                                    <li><a href="{{ SITEURL }}/index.html" class="button large">
                                        <span class="fa fa-arrow-left"></span>
                                        Retour
                                    </a></li>
								</ul>
                            </div>
{% endblock content %}
