<!DOCTYPE HTML>
<html>
	<head>
    {% block head %}
        <title>{% block title %}{{ TITLE }}{% endblock title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% block meta %}{% endblock meta %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/modal.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/photo.css" />
    {% endblock head %}
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="{{ SITEURL }}/">{{ TITLE }}</a></h1>
                        {% block perso %}{% endblock perso %}

					<!-- Nav -->
                        {% if NAV is defined %}
						<nav id="nav">
                            <ul>
                                {% for title, link in MENUITEMS %}
                                        <li><a href="{{ link }}">{{ title }}</a></li>
                                {% endfor %}
                                {% if DISPLAY_PAGES_ON_MENU %}
                                    {% for p in pages %}
                                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                                        {% for cat, null in categories %}
                                            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </ul>
						</nav>
                        {% endif %}

					{% block banner %}
					{% endblock %}

					{% block modal %}
					{% endblock %}

					{% block intro %}
					{% endblock %}

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
					{% block content %}
					{% endblock %}
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>Domaines d'activité</h2>
									</header>
                                    {% if DOMAINES is defined %}
                                    <ul class="divided">
                                        {% for domaine in DOMAINES %}
										<li>{{ domaine }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>Combinaisons linguistiques</h2>
									</header>
                                    {% if COMBINAISONS is defined %}
                                    <ul class="divided">
                                        {% for combinaison in COMBINAISONS %}
										<li>{{ combinaison }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if MES_ATOUTS is defined %}
                                    <footer>
                                        <ul class="actions">
                                            <li><a href="{{ SITEURL }}/{{ MES_ATOUTS }}" class="button">Mes atouts</a></li>
                                        </ul>
                                    </footer>
                                    {% endif %}
								</section>
							</div>
                            {% if CONTACT_TEXT is defined or CONTACT_IMAGE is defined or CONTACT_LINK is defined %}
							<div class="col-4 col-12-medium">
                                <section>
                                    <header>
                                        <h2>Contactez-moi</h2>
                                    </header>
                                    {% if CONTACT_LINK and CONTACT_IMAGE %}
                                        <a href="{{ CONTACT_LINK }}" class="image featured"><img src="{{ SITEURL }}/{{ CONTACT_IMAGE }}" alt="Logo" /></a>
                                    {% elif CONTACT_IMAGE is defined %}
                                        <img src="{{ SITEURL }}/{{ CONTACT_IMAGE }}" class="image featured" alt="logo" />
                                    {% endif %}
                                    {% if CONTACT_TEXT is defined %}
                                    <p>
                                        {{ CONTACT_TEXT }}
                                    </p>
                                    {% endif %}
                                    {% if CONTACT_LINK is defined %}
                                    <footer>
                                        <ul class="actions">
                                            <li><a href="{{ SITEURL }}/{{ CONTACT_LINK }}" class="button">À propos</a></li>
                                        </ul>
                                    </footer>
                                    {% endif %}
                                </section>
							</div>
                            {% endif %}
							<div class="col-12">
								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; {{ COPYRIGHT }}</li>
                                            <li>Généré avec <a href="https://blog.getpelican.com/" target="_blank">Pelican</a></li>
                                            <li>{{ CODE }}.</li>
											<li>Habillage: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
										</ul>
									</div>
							</div>
						</div>
					</div>
				</section>
		</div>
	</body>
</html>
