{% extends "base.html" %}
{% block meta %}
        <meta name="keywords" content="{{ KEYWORDS }}" />
        <meta name="description" content="{{ DESCRIPTION }}" />
{% endblock meta %}

{% block perso %}
                        <section id="perso" class="container">
                            <div class="row">
                                <div class="col-10">
                                    <blockquote>{{ INTRO_TEXT }}</blockquote>
                                </div>
                            </div>
                        </section>
{% endblock perso %}

{% block banner %}
					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>{{HEADER_TITLE}}</h2>
								<p>{{HEADER_SUBTITLE}}</p>
							</header>
						</section>
{% endblock banner %}

{% block modal %}
                    <!-- Modal -->
                    {% if MODAL_LINK and MODAL_TEXT and MODAL_LAB %}
                        <section id="modal">
                            <div class="cModal" id="modal1">
                                <header>
                                    <h2>Information importante</h2>
                                </header>
                                {{ MODAL_TEXT }}
                                <footer>
                                    <ul class="actions">
                                        <li><a href="{{ SITEURL }}/{{ MODAL_LINK }}" class="button large">{{ MODAL_LAB }}</a></li>
                                        <li><a href="#modal1" class="button alt large">Non, merci</a></li>
                                    </ul>
                                </footer>
                            </div>
                        </section>
                    {% endif %}
{% endblock modal %}

{% block intro %}
					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured fa-book"></i>
										<header>
											<h2>{{ BOOK_HEADER }}</h2>
										</header>
                                        {% if BOOK_TEXT is defined %}
                                        <p>{{ BOOK_TEXT }}</p>
                                        {% else %}
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        {% endif %}
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-pen"></i>
										<header>
											<h2>{{ PEN_HEADER }}</h2>
										</header>
                                        {% if PEN_TXT is defined %}
                                        <p>{{ PEN_TXT }}</p>
                                        {% else %}
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        {% endif %}
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt2 fa-user"></i>
										<header>
											<h2>{{ USER_HEADER }}</h2>
										</header>
                                        {% if USER_TEXT is defined %}
                                        <p>
                                            {{ USER_TEXT }}
                                        </p>
                                        {% else %}
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        {% endif %}
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
                                    {% if DEVIS_LINK and DEVIS_LAB %}
                                    <li><a href="{{ SITEURL }}/{{ DEVIS_LINK }}" class="button large">{{ DEVIS_LAB }}</a></li>
                                    {% else %}
									<li><a href="#" class="button large">Get Started</a></li>
                                    {% endif %}
                                    {% if TRAD_LINK and TRAD_LAB %}
                                    <li><a href="{{ SITEURL }}/{{ TRAD_LINK }}" class="button alt large">{{ TRAD_LAB }}</a></li>
                                    {% else %}
									<li><a href="#" class="button alt large">Learn More</a></li>
                                    {% endif %}
								</ul>
							</footer>
						</section>
{% endblock intro %}

{% block content %}
						<div class="row">
							<div class="col-12">
                            {% if PORTFOLIO is defined %}
								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>{{ PORTFOLIO }}</h2>
										</header>
                                    {% for article in articles_page.object_list %}
                                        {% if loop.index0 % 3  == 0 %}
										<div class="row">
                                            {% endif %}
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
                                                {% if article.picture is defined %}
													<a href="{{ SITEURL }}/{{ article.url }}" class="image featured"><img src="{{ SITEURL }}/{{ article.picture }}" alt="" /></a>
                                                {% endif %}
													<header>
														<h3>{{article.title }}</h3>
													</header>
													{{ article.summary }}
													<footer>
														<ul class="actions">
															<li><a href="{{ SITEURL }}/{{ article.url }}" class="button alt">Lire la suite</a></li>
														</ul>
													</footer>
												</section>
											</div>
                                        {% if loop.index % 3  == 0 %}
										</div>
                                        {% endif %}
                                    {% endfor %}
									</section>
                            {% endif %}
							</div>
						</div>
{% endblock content %}
