{% extends "base.html" %}
{% block title %}{{ page.title }} | {{ TITLE }}{% endblock title %}
{% block meta %}
        <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %}" />
        <meta name="description" content="{{ page.description }}" />
{% endblock meta %}

{% block content %}
						<!-- Content -->
							<article class="box post">
                            {% if page.picture is defined %}
                                <a href="#" class="image featured"><img src="{{ page.picture }}"/></a>
                            {% endif %}
								<header>
									<h2>{{ page.title }}</h2>
                                    {{ page.summary }}
								</header>
                                {{ page.content }}
							</article>
                            <div align="center">
                                <ul class="actions">
                                    <li><a href="{{ SITEURL }}/index.html" class="button large">
                                        <span class="fa fa-arrow-left"></span>
                                        Retour
                                    </a></li>
								</ul>
                            </div>
{% endblock content %}
